* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
}
/* COMMON */

.float-left {
	float: left;
}

.flex {
	display: flex;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

a {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.4);
}

a:hover,
a:active,
a:focus {
	color: white;
}

a > img {
	opacity: 0.8;
}

li:hover img {
	opacity: 1;
}

li:hover span {
	color: white;
}

ul {
	list-style: none;
}

/*  Definisco le dimensioni della webapp */
#wrapper {
	width: 100%;
	height: 100vh;
}
/* FINE COMMON */
/* ------------------------------------------------------------------------------------------------ */
/* MAIN */

/* Utilizzo il calc per la successiva reponsivita' verticale*/
main {
	width: 100%;
	height: calc(100% - 90px);
	overflow: hidden;
}

#wrapper main aside {
	height: 100%;
	width: 230px;
	background: #000000;
	color: grey;
	font-size: 13px;
}

#aside-top {
	height: calc(100% - 80px);
	flex-direction: column;
	min-height: 300px;
}

.aside-top--logo,
.aside-top--playlist {
	padding: 20px;
}

.aside-top--logo img {
	color: white;
	width: 70%;
}

.aside-top--playlist {
	overflow: hidden;
}

.aside-top--playlist ul {
	height: 100%;
	overflow-y: auto;
}

.aside-top--nav ul li {
	border-left: 3px solid transparent;
	margin-top: 5px;
	padding-left: 17px;
	line-height: 35px;
}

.aside-top--nav ul li a img {
	height: 25px;
	vertical-align: middle;
	padding-right: 5px;
}

/* Tasto Home */
.aside-top--nav .active {
	border-left: 3px solid #99e22d;
}

.aside-top--playlist ul li {
	line-height: 35px;
}

#aside-top h3 {
	color: white;
	font-size: 13px;
	padding-bottom: 10px;
}

.new-playlist a span::before {
	content: '+';
	display: inline-block;
	background-color: rgba(255, 255, 255, 0.6);
	height: 38px;
	width: 38px;
	line-height: 38px;
	font-size: 36px;
	color: black;
	text-align: center;
	vertical-align: middle;
	margin-right: 10px;
}

/* Applico l'effetto bianco con hover alla creazione di una nuova playlist */
.new-playlist:hover a {
	color: white;
}

.new-playlist:hover span:before {
	background-color: white;
}

#aside-bottom {
	height: 80px;
	padding: 0 20px;
	flex-direction: column;
	justify-content: space-around;
}

#aside-bottom .download-app span {
	font-size: 13px;
}

#aside-bottom .download-app:hover {
	color: white;
	cursor: pointer;
}

#aside-bottom .download-app i {
	font-size: 12px;
	padding-right: 5px;
}

#aside-bottom .profile {
	height: 25px;
	align-items: center;
}

#aside-bottom .profile .profile-img img {
	vertical-align: middle;
	height: 25px;
	width: 25px;
	background-color: grey;
	border-radius: 50%;
}

.profile-img {
	padding-right: 10px;
}

#aside-bottom .profile .profile-name h2 {
	font-size: 13px;
	color: white;
}

.main-content {
	height: 100%;
	width: calc(100% - 230px);
	background: #141922;
	overflow: auto;
	flex-direction: column;
}

.main-content .upgrade {
	width: 100%;
	height: 90px;
	background-color: rgba(0, 0, 0, 0.3);
	position: fixed;
	color: white;
}

.main-content--nav {
	justify-content: center;
	margin: 10px 0;
	font-size: 13px;
	padding-top: 90px;
}

.main-content--nav ul li {
	padding: 10px;
}

/* FINE MAIN */
/* ------------------------------------------------------------------------------------------------ */
/* FOOTER */

footer {
	width: 100%;
	height: 90px;
	background: #282828;
	z-index: 100;
}

/* FINE FOOTER */
/* ------------------------------------------------------------------------------------------------ */

/* Colori
!footer: #282828
!nav: #000000
!main-content: #141922
!upgrade: #080b12
!nav centrale: #141922
!lime: #99e22d
*/
