* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
}
/* COMMON */

.float-left {
	float: left;
}

.flex {
	display: flex;
}

a {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.4);
}

a:hover {
	color: white;
}

a > img {
	opacity: 0.8;
}

a > img:hover {
	opacity: 1;
}
/*  Definisco le dimensioni della webapp */
#wrapper {
	width: 100%;
	height: 100vh;
}
/* FINE COMMON */
/* ------------------------------------------------------------------------------------------------ */
/* MAIN */

/* Utilizzo il calc per la successiva reponsivita' verticale*/
main {
	width: 100%;
	height: calc(100% - 90px);
}

#wrapper > main > aside {
	height: 100%;
	width: 230px;
	background: #000000;
	color: grey;
	font-size: 14px;
}

.logo,
.playlist {
	padding: 20px;
}

.logo > img:nth-child(1) {
	width: 70%;
}

#aside-top {
	height: calc(100% - 80px);
	flex-direction: column;
	overflow: hidden;
}

#aside-bottom {
	height: 80px;
	flex-direction: column;
}

#aside-top ul {
	list-style: none;
}

#aside-top > ul:nth-child(5) {
	overflow: auto;
}

#aside-top ul li {
	/* margin: 10px 0; */
}

#aside-top ul li a img {
	height: 25px;
	vertical-align: middle;
	padding-right: 5px;
}

#aside-top > ul:nth-child(2) > li {
	border-left: 3px solid transparent;
	padding-left: 17px;
	line-height: 35px;
}

/* Sovrasscrive il bordo trasparente dandogli un colore */
#aside-top > ul:nth-child(2) > li:nth-child(1) {
	border-left: 3px solid #99e22d;
}
#aside-top h3 {
	color: white;
	font-size: 14px;
	padding-bottom: 10px;
}

.new-playlist > a > span::before {
	content: '+';
	display: inline-block;
	background-color: rgba(255, 255, 255, 0.6);
	height: 38px;
	width: 38px;
	line-height: 38px;
	font-size: 36px;
	color: black;
	text-align: center;
	vertical-align: middle;
	margin-right: 10px;
}

.main-content {
	height: 100%;
	width: calc(100% - 230px);
	background: #141922;
}

/* FINE MAIN */
/* ------------------------------------------------------------------------------------------------ */
/* FOOTER */

footer {
	width: 100%;
	height: 90px;
	background: #282828;
}

/* FINE FOOTER */
/* ------------------------------------------------------------------------------------------------ */

/* !DEBUG ZONE! */
/*  Definisco le dimensioni della webapp */
.debug #wrapper {
	width: 100%;
	height: 100vh;
}

/* Utilizzo il calc per la successiva reponsivita' verticale*/
.debug main {
	width: 100%;
	height: calc(100% - 90px);
}

.debug footer {
	width: 100%;
	height: 100px;
	background: #282828;
}

#wrapper > main > aside {
	height: 100%;
	width: 230px;
	background: #000000;
}

.debug .main-content {
	height: 100%;
	width: calc(100% - 230px);
	background: #141922;
}

/* Colori

footer: #282828
nav: #000000
main-content: #141922

upgrade: #080b12
nav centrale: #141922
lime: #99e22d
testo nel nav: #616161

*/
