* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Common */

.float {
	float: left;
}

/* !DEBUG ZONE! */
/*  Definisco le dimensioni della webapp */
.debug .wrapper {
	width: 100%;
	height: 100vh;
}

/* Utilizzo il calc per la successiva reponsivita' verticale*/
.debug main {
	width: 100%;
	height: calc(100% - 100px);
}

.debug footer {
	width: 100%;
	height: 100px;
	background: #282828;
}

.debug nav {
	height: 100%;
	width: 250px;
	background: #000000;
}

.debug .main-content {
	height: 100%;
	width: calc(100% - 250px);
	background: #141922;
}

/* Colori

footer: #282828
nav: #000000
main-content: #141922

upgrade: #080b12
nav centrale: #141922
lime: #99e22d
testo nel nav: #616161

*/
