* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
}
/* Common */

.float {
	float: left;
}

.clearfix::after {
	content: '';
	display: table;
	clear: both;
}

/* Main */
.wrapper > main > nav {
	color: #616161;
}

.wrapper > main > nav > .nav-logo {
	padding: 20px;
}
.wrapper > main > nav > .nav-logo > img {
	width: 70%;
}

.wrapper > main > nav > .main-nav > ul {
	list-style: none;
	padding-left: 20px;
	font-size: 14px;
}

.wrapper > main > nav > .main-nav > ul > li {
	padding: 5px 0;
}

.wrapper > main > nav > .main-nav > ul > li > a {
	text-decoration: none;
	color: white;
}

.wrapper > main > nav > .main-nav > ul > li > a > img {
	height: 30px;
	vertical-align: middle;
}

/* Footer */

/* !DEBUG ZONE! */
/*  Definisco le dimensioni della webapp */
.debug .wrapper {
	width: 100%;
	height: 100vh;
}

/* Utilizzo il calc per la successiva reponsivita' verticale*/
.debug main {
	width: 100%;
	height: calc(100% - 100px);
}

.debug footer {
	width: 100%;
	height: 100px;
	background: #282828;
}

.wrapper > main > nav {
	height: 100%;
	width: 250px;
	background: #000000;
}

.debug .main-content {
	height: 100%;
	width: calc(100% - 250px);
	background: #141922;
}

/* Colori

footer: #282828
nav: #000000
main-content: #141922

upgrade: #080b12
nav centrale: #141922
lime: #99e22d
testo nel nav: #616161

*/
