* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
}
/* COMMON */

.float-left {
	float: left;
}

.flex {
	display: flex;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

a {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.4);
}

a:hover,
a:active,
a:focus {
	color: white;
}

a > img {
	opacity: 0.8;
}

a > img:hover {
	opacity: 1;
}

/*  Definisco le dimensioni della webapp */
#wrapper {
	width: 100%;
	height: 100vh;
}
/* FINE COMMON */
/* ------------------------------------------------------------------------------------------------ */
/* MAIN */

/* Utilizzo il calc per la successiva reponsivita' verticale*/
main {
	width: 100%;
	height: calc(100% - 90px);
}

#wrapper > main > aside {
	height: 100%;
	width: 230px;
	background: #000000;
	color: grey;
	font-size: 13px;
}

.logo,
.playlist {
	padding: 20px;
}

.logo > img {
	color: white;
}

.logo > img:nth-child(1) {
	width: 70%;
}

#aside-top {
	height: calc(100% - 80px);
	flex-direction: column;
	overflow: hidden;
	min-height: 300px;
}

ul {
	list-style: none;
}

.playlist > ul {
	overflow-y: auto;
}

#aside-top ul li a img {
	height: 25px;
	vertical-align: middle;
	padding-right: 5px;
}

#aside-top > ul:nth-child(2) > li {
	border-left: 3px solid transparent;
	margin-top: 5px;
	padding-left: 17px;
	line-height: 35px;
}

/* Sovrasscrive il bordo trasparente dandogli un colore */
#aside-top > ul:nth-child(2) > li:nth-child(1) {
	border-left: 3px solid #99e22d;
}

.playlist > ul:nth-child(3) > li {
	line-height: 35px;
}

#aside-top h3 {
	color: white;
	font-size: 13px;
	padding-bottom: 10px;
}

.new-playlist > a > span::before {
	content: '+';
	display: inline-block;
	background-color: rgba(255, 255, 255, 0.6);
	height: 38px;
	width: 38px;
	line-height: 38px;
	font-size: 36px;
	color: black;
	text-align: center;
	vertical-align: middle;
	margin-right: 10px;
}

/* Applico l'effetto bianco con hover alla creazione di una nuova playlist */
.new-playlist:hover a {
	color: white;
}
.new-playlist:hover span:before {
	background-color: white;
}

#aside-bottom {
	height: 80px;
	padding: 0 20px;
	flex-direction: column;
	justify-content: space-around;
}

#aside-bottom > .download-app > span {
	font-size: 13px;
}

#aside-bottom > .download-app:hover {
	color: white;
	cursor: pointer;
}

#aside-bottom > .download-app > i {
	font-size: 12px;
}

#aside-bottom .profile {
	height: 25px;
	align-items: center;
}

#aside-bottom > .profile > .profile-img > img {
	vertical-align: middle;
	height: 25px;
	width: 25px;
	background-color: grey;
	border-radius: 50%;
}

.profile-img {
	padding-right: 10px;
}

#aside-bottom > .profile > .profile-name > h2 {
	font-size: 13px;
	color: white;
}

.main-content {
	height: 100%;
	width: calc(100% - 230px);
	background: #141922;
	padding-top: 90px;
	overflow: auto;
	flex-direction: column;
}
.upgrade {
	width: 100%;
	height: 90px;
	background-color: rgba(0, 0, 0, 0.3);
	position: fixed;
}

.music-nav {
	justify-content: center;
	margin: 10px 0;
	font-size: 13px;
}

.music-nav li {
	padding: 10px;
}

/* FINE MAIN */
/* ------------------------------------------------------------------------------------------------ */
/* FOOTER */

footer {
	width: 100%;
	height: 90px;
	background: #282828;
	z-index: 100;
}

/* FINE FOOTER */
/* ------------------------------------------------------------------------------------------------ */

/* !DEBUG ZONE! */
/*  Definisco le dimensioni della webapp */
.debug #wrapper {
	width: 100%;
	height: 100vh;
}

/* Utilizzo il calc per la successiva reponsivita' verticale*/
.debug main {
	width: 100%;
	height: calc(100% - 90px);
}

.debug footer {
	width: 100%;
	height: 100px;
	background: #282828;
}

#wrapper > main > aside {
	height: 100%;
	width: 230px;
	background: #000000;
}

.debug .main-content {
	height: 100%;
	width: calc(100% - 230px);
	background: #141922;
}

/* Colori

footer: #282828
nav: #000000
main-content: #141922

upgrade: #080b12
nav centrale: #141922
lime: #99e22d
testo nel nav: #616161

*/
